.caja{
    width: 300px;
    padding: 20px;
    border: 10px solid #007bff;
    text-align: center;;
}

.caja-content{
box-sizing: content-box;
background-color: #ffe0b2;
;
}
.caja-border{
box-sizing: border-box;
background-color: #c8e6c9;
}

